<h1>Travel</h1>
<div class="trip-list">
  {{#each trips}}
    <div class="trip">
      <h2>{{name}}</h2>
      <img src="/images/{{image}}" alt="{{name}}">
      <p>{{description}}</p>
    </div>
  {{/each}}
</div>

